
:root {
  --black: #172b4d;
  --black-light: #344563;
  --accent: #6070ff;
  --accent-light: #7f8cff;
  --gray: #e5e5e5;
}

* {
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

a {
  cursor: pointer;
}

body {
  background-color:var(--gray);
}
.intro {
  background-image: url("../images/header-bg.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.bg {
 background-color: #fff;
}
li {
  list-style: none;  
}
.intro h1{
  color: var(--black);
  font-size: 2rem;
  line-height: 2.6rem;
}
.intro p {
  color: var(--black-light);
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.intro a {
  color: var(--accent-light);
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
}
